<header class="jumbotron">

    <h1 class="text-center">CaelumPic</h1>
    
</header>

<main class="container">

  <div class="row col-12 mb-4">
    <a routerLink="/cadastro" class="btn btn-primary">Nova Foto</a>
  </div>
  <div class="row">

    <card *ngFor='let foto of listaFotos' [foto] = "foto" class="col-lg-2 col-sm-4 mb-4">
       
      <a [routerLink] = "['/cadastro', foto._id]" class="foto">
        <foto [url]="foto.url" [titulo]="foto.titulo"></foto>  
      </a>

      
      <button (click)="deletar(foto)" class="btn btn-danger"> Apagar </button>
      
    </card>

  </div>

</main>

